<h1>Basic</h1>

<div class="docs-w-full docs-max-w-sm">
  <form class="docs-bg-white docs-shadow-md docs-rounded docs-px-8 docs-pt-6 docs-pb-8 docs-mb-4">
    <div class="docs-mb-4">
      <label class="docs-block docs-text-gray-700 docs-text-sm docs-font-bold docs-mb-2" for="js-autocomplete">
        Autocomplete Component
      </label>
      <Autocomplete
        autofocus="true"
        class="docs-shadow docs-appearance-none docs-border docs-rounded docs-w-full docs-py-2 docs-px-3 docs-text-gray-700 docs-leading-tight focus:docs-outline-none focus:docs-shadow-outline"
        @additionalFilters={{hash by_active=true}}
        @displayKey="email"
        @globalOptions={{hash minLength=0}}
        @filter="by_text_search"
        @modelName="user"
      />
      <p class="docs-text-red-500 docs-text-xs docs-italic">
        Begin typing to get a list of user results. Thanks Mirage & Faker!
      </p>
    </div>
  </form>
</div>
