{{! @formatter:off }}
<DocsSnippet @name="additional-filters-controller" @language="javascript">
  import {action} from '@ember/object';
  import Controller from '@ember/controller';

  export default Controller.extend({
    @action chooseUser(event, user) {
      alert(`${user.firstName}'s birth date is ${user.dateOfBirth.toISOString()}`)
      return true;
    },

    suggestionCustomized(user) {
      return `
  <p>
    ${user.fullName}
    <br />
    <small>
      Is Active? ${user.active}
    </small>
  </p>
  `;
    }
  });
</DocsSnippet>
{{! @formatter:on}}